:root {
  --btnbgcolor: rgb(233 220 127);
  --themedarkcolor: rgb(255 84 0);
  --themelightcolor: #ebbe78;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  padding: 5px 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #af3535;
  background: var(--btnbgcolor);
  border: 0.6px solid #bcb8b8;
  border-radius: 12px;
  cursor: pointer;
}
button:active {
  scale: 0.97;
}
.homeSec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    var(--themelightcolor),
    var(--themedarkcolor)
  );
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 15px;
  background: linear-gradient(
    to right,
    var(--themelightcolor),
    var(--themedarkcolor)
  );
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.24);
}

.leftnav {
  height: 50px;
  /* width: 50px; */
  border-radius: 50%;
  border: 0.6px solid brown;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
}

.leftnav img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.centernav {
  padding: 1px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.centernav a {
  padding: 2px;
  list-style: none;
  margin: 1px 10px;
  font-weight: bold;
}
.centernav a:hover {
  color: var(--themelightcolor);
  border-bottom: 2px solid black;
  border-radius: 2px;
}
.centernav a:active {
  scale: 1.1;
}
.rightnav button {
  cursor: pointer;
  padding: 5px 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #af3535;
  background: var(--btnbgcolor);
  border: 0.6px solid #bcb8b8;
  border-radius: 12px;
}

main {
  height: 90%;
  width: 98%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.lefthome {
  width: 50%;
  height: 95%;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homehead {
  font-size: 3rem;
  font-weight: bold;
}
.description {
  text-align: center;
  margin: 15px 1px;
}
.btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btns button {
  padding: 5px 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #af3535;
  background: var(--btnbgcolor);
  border: 0.6px solid #bcb8b8;
  border-radius: 12px;
  cursor: pointer;
}
.btns button:active {
  scale: 0.97;
}
.righthome {
  width: 50%;
  height: 95%;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demoimgbox {
  height: 300px;
  /* width: 150px; */
  border: none;
  border-radius: 12px;
  overflow: hidden;
}
.demoimgbox img {
  height: 90%;
  width: 100%;
  object-fit: contain;
}

.demoimgbox::before {
  content: "model of the item";
  padding: 8px 20px;
  position: relative;
  top: 50px;
  right: 0px;
  border-radius: 15px;
  color: black;
  display: inline-block;
  /* width: 100px;
    height: 50px; */
  background: whitesmoke;
}
.demoimgbox::after {
  content: "this is a demo item";
  padding: 8px 20px;
  position: relative;
  bottom: 75px;
  left: 180px;
  border-radius: 15px;
  color: black;
  display: inline-block;
  /* width: 100px;
    height: 50px; */
  background: whitesmoke;
}
.menuSec {
  width: 100%;
  /* height: 100vh; */
  padding-top: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right,rgb(234, 255, 47,.500),rgb(255, 2, 53,.600)); */
  background: linear-gradient(
    to left,
    var(--themelightcolor),
    var(--themedarkcolor)
  );
}
.menubox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  height: 95%;
  width: 95%;
}
.menuhead {
  font-size: 1.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}
.menuitembox {
  /* height: 90%; */
  width: 75%;
  /* border:1px solid #af3535; */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.menuitems {
  height: 250px;
  width: 265px;
  border-radius: 5px;
  margin: 10px;
  padding: 2px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background: whitesmoke;
}
.productimg {
  width: 99%;
  height: 70%;
  border-radius: 5px;
  padding: 2px;
  overflow: hidden;
}
.productimg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.aboutSec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 80px;
  background: linear-gradient(
    to right,
    var(--themelightcolor),
    var(--themedarkcolor)
  );
}
.aboutbox {
  width: 98%;
  height: 90%;
  height: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.abouthead {
  font-size: 2rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  font-weight: bold;
  margin: 10px;
}
.aboutdivision {
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftabout,
.rightabout {
  width: 45%;
  height: 90%;
  padding: 5px 10px;
  overflow: hidden;
  /* text-align: left; */
}
.leftabout img {
  width: 65%;
  border-radius: 8px;
  border: none;
}
.rightabout {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-end;
}
.rightabout span {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  border-bottom: 5px solid var(--themelightcolor);
  border-radius: 40%;
  display: block;
  padding: 15px;
  margin: 20px 1px;
}
.rightabout p {
  font-size: 1.1rem;
  font-family: math;
  margin: 10px;
}
.rightabout button{
  color: #000000d5;
  font-weight: bold;
}

.productSec {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--themelightcolor),
    var(--themedarkcolor)
  );
}
.productbox {
  width: 98%;
  min-height: 80%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.producthead {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  margin: 10px;
}
.productitembox {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.productitems {
  width: 220px;
  height: 210px;
  text-align: center;
  background: whitesmoke;
  border-radius: 8px;
  border: none;
  margin: 10px;
  padding: 20px;
}
.productitems img {
  height: 60%;
  border-radius: 8px;
  border: none;
  /* padding: 2px; */
}
.productbottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 30%;
}
.productitems h4 {
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: bold;
}
.productitems .ruppy {
  font-size: 1rem;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.productitems .addcartbtn {
  color: var(--themedarkcolor);
  padding: 4px 10px;
}

.reviewSec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  background: linear-gradient(
    to top,
    var(--themelightcolor),
    var(--themedarkcolor)
  );
}
.reviewbox {
  height: 85%;
  width: 100%;
  padding: 10px;
}
.reviewhead {
  font-size: 2rem;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
.reviewitembox{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}
.reviewitems {
  height: 325px;
  width: 365px;
  padding: 5px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.reviewtop {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  margin-bottom: 5px;
}
.reviewbox .img {
  height: 95%;
  border-radius: 50%;
  overflow: hidden;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.customername {
  font-size: 1.27rem;
  color: rgb(0, 0, 0, 0.976);
}
/* .reviewitems span{

} */

.reviewbottom {
  height: 78%;
  width: 100%;
  padding-left: 8px;
  padding-bottom: 10px;
  background: #00000017;
  overflow-y: scroll;
}
.reviewbottom::-webkit-scrollbar {
  width: 5px;
}
.reviewbottom::-webkit-scrollbar-track {
  background: #ffffff8f;
}
.reviewbottom::-webkit-scrollbar-thumb {
  background: #000;
}
.reviewbottom p {
  font-size: 1.1rem;
  font-family: cursive;
}
