:root {
    --btnbgcolor: rgb(233 220 127);
    --themedarkcolor: #ff5500cb;
    --themelightcolor: #ebbe78;
    --btncolor: #af3535;
    --maincolor: #ffdfac;
    --whitetext: white;
  }
  body {
    font-family: "Cursive", fantasy;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(
      45deg,
      var(--themedarkcolor),
      var(--themelightcolor)
    );
    color: var(--whitetext);
  }

  .containerLogin {
    width: 100%;
    max-width: 400px;
    transition: all .8s;
  }

  .card {
    background: rgba(0, 0, 0, 0.167);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .registercard{
    /* position: absolute;
    left:-100%;
    top:50%;
    backdrop-filter: blur(12px);
    transform: translate(-50%,-50%); */
   display: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  h2 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: normal;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ae8f54;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    font-family: math;
    color: black;
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  button {
    background-color: var(--btnbgcolor);
    color: var(--btncolor);
    padding: 10px 17px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    scale: 0.98;
  }